/* --- Portfolio Overview Page: Unique Styles --- */

/* This styles the text content INSIDE the project cards */
.project-card-content {
    padding: 1.5rem;
    text-align: center; 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.project-card-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #121d35;
    margin-bottom: 0.5rem;
}

.project-card-content .project-type {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: var(--primary_blue); 
    margin-bottom: 0;
}